<header class="dashboard-header">

  <div class="left-section">

    <div class="logo"
         [routerLink]="isDoctor() ? '/doctor-dashboard' : '/dashboard'">
      🏥 HealthAxis
    </div>

    <div class="role-badge" [ngClass]="{'doctor-badge': isDoctor(), 'patient-badge': isPatient() }">
      <span *ngIf="isDoctor()">👨‍⚕️ Doctor</span>
      <span *ngIf="isPatient()">🧑 Patient</span>
    </div>

  </div>

  <div class="right-section">

    <div *ngIf="isDoctor()" class="quick-info">
      Today's Appointments
    </div>

    <div class="notification" (click)="toggleNotifications()">

      🔔

      <span class="badge"
            *ngIf="notifications.length > 0">
        {{ notifications.length }}
      </span>

      <div class="notif-dropdown"
           *ngIf="showNotifications">

        <div class="notif-header">
          Notifications
        </div>

        <div *ngIf="notifications.length === 0"
             class="empty-notification">
          No notifications
        </div>

        <div class="notif-item"
             *ngFor="let n of notifications">
          {{ n }}
        </div>

      </div>

    </div>

    <div class="profile">

      <div class="avatar"
           (click)="toggleMenu()"
           [class.disabled]="!showMenuEnabled">

        {{ initials }}

        <span class="online-dot"></span>

      </div>

      <div *ngIf="showMenu && showMenuEnabled"
           class="dropdown">

        <div class="user-section">

          <div class="avatar-large">
            {{ initials }}
          </div>

          <div>

            <div class="name">
              {{ userName }}
            </div>

            <div class="role">
              {{ userRole }}
            </div>

          </div>

        </div>

        <hr>

        <button (click)="goToProfile()">
          👤 View Profile
        </button>

        <button (click)="openPasswordModal()">
          🔒 Change Password
        </button>

        <button class="danger"
                (click)="logout()">
          🚪 Logout
        </button>
      </div>
    </div>
  </div>

</header>
<div class="modal" *ngIf="showDoctorProfileModal">

  <div class="modal-box profile-modal">

    <div class="profile-header">

      <div class="profile-avatar">
        {{ initials }}
      </div>

      <div>
        <h2>{{ user.doctorName }}</h2>
        <p class="sub-title">👨‍⚕️ {{ user.specialisation }}</p>
      </div>

    </div>

    <div class="profile-details">

      <!--<div class="detail-row">
        <span class="label">Doctor ID</span>
        <span class="value">{{ doctor.doctorId }}</span>
      </div>-->

      <div class="detail-row">
        <span class="label">Doctor Name</span>
        <span class="value">{{ doctor.doctorName }}</span>
      </div>

      <div class="detail-row">
        <span class="label">Specialisation</span>
        <span class="value">{{ doctor.specialisation }}</span>
      </div>

      <div class="detail-row">
        <span class="label">Experience</span>
        <span class="value">{{ doctor.experience }} Years</span>
      </div>

      <div class="detail-row">
        <span class="label">Consultation Fee</span>
        <span class="value">₹{{ doctor.fees }}</span>
      </div>

      <div class="detail-row">
        <span class="label">Status</span>

        <span class="status-active"
              *ngIf="user.isActive">
          Active
        </span>

        <span class="status-inactive"
              *ngIf="!user.isActive">
          Inactive
        </span>

      </div>

    </div>

    <div class="btn-group">

      <button class="secondary-btn"
              (click)="closeDoctorProfileModal()">
        Close
      </button>

    </div>

  </div>

</div>
