<div class="auth-container">
  <div class="auth-card">
    <h2>Create Account</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <div class="form-group">
        <label>Full Name</label>
        <input type="text" formControlName="name" placeholder="Enter your name" />
        <div class="text-danger" *ngIf="registerForm.get('name')?.touched">
          <span *ngIf="registerForm.get('name')?.errors?.['required']">
            Name is required
          </span>
          <span *ngIf="registerForm.get('name')?.errors?.['pattern']">
            Minimum 3 letters, only alphabets & spaces
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" formControlName="dob" />
      </div>

      <div class="form-group">
        <label>Gender</label>
        <select formControlName="gender">
          <option value="">Select Gender</option>
          <option>Male</option>
          <option>Female</option>
          <option>Transgender</option>
          <option>Others</option>
        </select>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <div class="text-danger">
          @if(registerForm.controls["email"].touched || registerForm.controls["email"].dirty){
          @if(registerForm.controls["email"].errors?.['required']){
          <span>Email is required</span>
          }
          }
        </div>
      </div>

      <div class="form-group">
        <label>Phone Number</label>
        <input type="text" formControlName="phone" placeholder="Enter your Phone Number"/>
        <div class="text-danger" *ngIf="registerForm.get('phone')?.errors?.['pattern']">
          Enter valid 10 digit number
        </div>
      </div>

      <div class="form-group">
        <label>Insurance Id</label>
        <input type="text" formControlName="insuranceId" placeholder="Optional" />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="Enter your Password"/>
        <div class="text-danger">
          <span *ngIf="registerForm.get('password')?.errors?.['pattern']">
            Password should be minimum of 8 and maximum of 12 characters. It should include at least one uppercase, one lowercase, a number and a special character.
          </span>
        </div>

      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" />
        <div class="text-danger" *ngIf="registerForm.errors?.['mismatch']">
          Passwords do not match
        </div>
      </div>

      <button type="submit" class="btn-primary">Register</button>

      <p class="redirect">
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </form>
  </div>
</div>
