<app-header [showMenuEnabled]="true" [doctor]="doctor"></app-header>

<div class="layout">

  <div class="content">

    <div class="card">
      <h2>Today's Appointments</h2>

      <div *ngIf="todayAppointments.length === 0" class="empty-state">
        No appointments today
      </div>

      <table *ngIf="todayAppointments.length > 0">
        <tr>
          <th>Patient</th>
          <th>Time</th>
          <th>Status</th>
        </tr>

        <tr *ngFor="let a of todayAppointments">
          <td>{{ a.patient.patientName }}</td>
          <td>{{ a.slot }}</td>
          <td>{{ a.status }}</td>
        </tr>
      </table>
    </div>

    <div class="actions">

      <div class="action-card" (click)="openPatientsModal()">
        👨‍👩‍👦 My Patients
      </div>

      <div class="action-card" (click)="openAppointmentsModal()">
        📅 My Appointments ({{ appointments.length }})
      </div>

    </div>

    <div class="card">
      <h2>This Week Schedule</h2>

      <table *ngIf="weekAppointments.length > 0">
        <tr>
          <th>Patient</th>
          <th>Date</th>
          <th>Time</th>
        </tr>

        <tr *ngFor="let a of weekAppointments">
          <td>{{ a.patient.patientName }}</td>
          <td>{{ a.scheduledDate | date:'dd/MM/yyyy'  }}</td>
          <td>{{ a.slot }}</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div class="modal" *ngIf="showPatientsModal">
  <div class="modal-box large" (click)="$event.stopPropagation()">

    <h2>My Patients</h2>

    <div *ngIf="patients.length === 0" class="empty-state">
      No patients yet
    </div>

    <table *ngIf="patients.length > 0">
      <tr>
        <th>Name</th>
        <th>Recent Visit</th>
        <th>Appointments</th>
        <th>All Records</th>
      </tr>

      <tr *ngFor="let p of patients">
        <td>{{ p.patientName }}</td>
        <td>{{ p.lastVisit }}</td>

        <td>
          <button class="icon-btn" (click)="openPatientAppointments(p)">📋</button>
        </td>

        <td>
          <button class="icon-btn" (click)="openAllRecords(p)">📑</button>
        </td>
      </tr>
    </table>
    <div class="btn-group">
      <button (click)="closePatientsModal()">Close</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="selectedPatientAppointments">
  <div class="modal-box large">

    <h3>Patient Appointments</h3>

    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Record</th>
      </tr>

      <tr *ngFor="let a of selectedPatientAppointments">
        <td>{{ a.scheduledDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ a.slot }}</td>
        <td>
          <button (click)="viewHealthRecord(a)">View</button>
        </td>
      </tr>
    </table>

    <button (click)="selectedPatientAppointments = null">Close</button>

  </div>
</div>

<div class="modal" *ngIf="selectedAllRecords">
  <div class="modal-box large">

    <h3>All Health Records</h3>

    <div *ngFor="let r of selectedAllRecords">
      <p><b>Date:</b> {{ r.visitedDate | date:'dd/MM/yyyy'  }}</p>
      <p><b>Diagnosis:</b> {{ r.healthRecord.diagnosis }}</p>
      <hr>
    </div>

    <button (click)="selectedAllRecords = null">Close</button>

  </div>
</div>

<div class="modal" *ngIf="selectedRecord">
  <div class="modal-box">

    <h3>Health Record</h3>

    <p><b>Diagnosis:</b> {{ selectedRecord.diagnosis }}</p>
    <p><b>Prescription:</b> {{ selectedRecord.prescription }}</p>

    <p>
      <b>Notes:</b>
      <span *ngIf="selectedRecord.notes; else noNotes">
        {{ selectedRecord.notes }}
      </span>
    </p>

    <ng-template #noNotes>
      <span class="light-text">No notes available</span>
    </ng-template>

    <button (click)="selectedRecord = null">Close</button>

  </div>
</div>

<div class="modal"
     *ngIf="showAppointmentsModal"
     (click)="closeAppointmentsModal()">

  <div class="modal-box large"
       (click)="$event.stopPropagation()">

    <h2>📅 My Appointments</h2>

    <div *ngIf="appointments.length === 0" class="empty-state">
      No appointments found
    </div>

    <table *ngIf="appointments.length > 0">
      <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <td>Action</td>
      </tr>

      <tr *ngFor="let a of appointments">
        <td>{{ a.patient.patientName }}</td>
        <td>{{  a.scheduledDate | date:'dd/MM/yyyy'  }}</td>
        <td>{{ a.slot }}</td>
        <td>{{ a.status }}</td>
        <td>
          <button *ngIf="a.status === 'Pending'" (click)="updateStatus(a, 'Confirmed')">
            Confirm
          </button>
          <button *ngIf="a.status === 'Pending'" (click)="updateStatus(a, 'Cancelled')">
            Cancel
          </button>
          <button *ngIf="a.status === 'Confirmed'" (click)="updateStatus(a, 'Cancelled')">
            Cancel
          </button>
          <button *ngIf="a.status === 'Confirmed'" (click)="openCompleteModal(a)">
            Complete
          </button>
          <span *ngIf="a.status === 'Completed'">
            ✅ Completed
          </span>
        </td>
      </tr>
    </table>

    <div class="btn-group">
      <button (click)="closeAppointmentsModal()">Close</button>
    </div>

  </div>

</div>
<div class="modal" *ngIf="showCompleteModal">

  <div class="modal-box large">

    <h3>Complete Appointment</h3>

    <label>Diagnosis</label>
    <input type="text"
           [(ngModel)]="healthRecord.diagnosis">

    <label>Prescription</label>
    <textarea [(ngModel)]="healthRecord.prescription">
    </textarea>

    <label>Notes</label>
    <textarea [(ngModel)]="healthRecord.notes">
    </textarea>

    <div class="btn-group">

      <button (click)="completeAppointment()">
        Save & Complete
      </button>

      <button (click)="closeCompleteModal()">
        Cancel
      </button>

    </div>

  </div>

</div>
