<app-header [showMenuEnabled]="false"></app-header>

<!-- PROFILE CARD -->
<form #profileForm="ngForm" class="profile-card">

  <h2>👤 My Profile</h2>


  <div class="form-group">
    <label for="patientName">Name *</label>
    <input name="patientname"
           [(ngModel)]="user.patientName"
           required
           #patientName="ngModel" />

    <div class="error" *ngIf="patientName.invalid && patientName.touched">
      Name is required
    </div>

    <div class="form-group">
      <label for="email">Email *</label>
      <input name="email"
             [(ngModel)]="user.email"
             required
             email
             #email="ngModel" />

      <div class="error" *ngIf="email.invalid && email.touched">
        Enter a valid email
      </div>
    </div>

    <div class="form-group">
      <label for="dateOfBirth">Date of Birth *</label>
      <input type="date"
             name="dateOfBirth"
             [(ngModel)]="user.dateOfBirth"
             required
             #dateOfBirth="ngModel" />

      <div class="error" *ngIf="dateOfBirth.invalid && dateOfBirth.touched">
        Date of birth is required
      </div>
    </div>

    <div class="info-box">
      Age: <strong>{{ age }}</strong>
    </div>
    <div class="form-group">
      <label for="gender">Gender *</label>
      <select name="gender" [(ngModel)]="user.gender" required #gender="ngModel">
        <option value="">Select Gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Transgender</option>
        <option>Others</option>
      </select>
      <div class="error" *ngIf="gender.invalid && gender.touched">
        Please select gender
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone *</label>
      <input name="phoneNumber"
             [(ngModel)]="user.phoneNumber"
             required
             pattern="^[6-9][0-9]{9}$"
             #phoneNumber="ngModel" />

      <div class="error" *ngIf="phoneNumber.invalid && phoneNumber.touched">
        Enter valid 10-digit phone number
      </div>
    </div>

    <div class="form-group">
      <label for="insuranceId">Insurance ID</label>
      <input name="insuranceId"
             [(ngModel)]="user.insuranceId"
             #insurance="ngModel" />
    </div>

  </div>
    <div *ngIf="saved" class="success-msg">
      Profile updated successfully ✅
    </div>
    <button class="save-btn" [disabled]="profileForm.invalid" (click)="saveProfile()">
      💾 Save Changes
    </button>

  </form>

  <div class="bottom-bar">
    <button class="back-btn" routerLink="/dashboard">
      ⬅ Back to Dashboard
    </button>
  </div>

